receivers:
  otlp:
    protocols:
      grpc: {}
      http: {}

processors: {}

exporters:
  logging:
    loglevel: info

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [logging]
    metrics:
      receivers: [otlp]
      exporters: [logging]
